:root {
--bg_colour: #212f3c;
--link_colour: turquoise; 
--hover_colour: crimson;
--heading_colour: turquoise; 
--text_colour: white;
--content-max-width: 21cm;
}

body {
	/* font: normal 14px courier, monospace; */
	font-family: "Courier New", Courier, monospace;
	/*font-size: 24px;*/
	color: var(--text_colour);
	background-color: var(--bg_colour);
	/*margin-left: 15%;*/
	margin: 0;
	padding: 0;
    display: flex;
    justify-content: center; 
}

nav {
	text-align: center;
	/*font-size: 150%;*/
}

h1, h2, h3, h4, h5, h6 {
	color: var(--heading_colour);
}

a:link, a:visited {
	color: var(--link_colour);
	background-color: transparent;
	/*text-decoration: none;*/
}

a:hover, a:active {
	color: var(--hover_colour);
	background-color: transparent;
}

.content {
    max-width: var(--content-max-width);
    margin: 0 10vw; /* 10% of the viewport width on left and right */
    padding: 20px;
    text-align: center;
}

/* --- using icons/imgs in in center of box/cage --- */
/*
.centericon {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 4%;
}
*/

