<header>
<!--
<div style="text-align:right">
        <a href="index_dk.html">Dansk</a> / <a href="index.html" >Engrish</a>
</div>
-->
<nav>
        <!--
        <img src="imgs/portrait.jpg" width=300px height=300px 
        style="width: 100px; height: 100px; object-fit:cover; border-radius:50%"/>
        <br>
        -->
        |
        <a href="/index.html">Home</a> |
        <a href="/academia/index.html">Academia</a> |
        <a href="/software/index.html">Software</a> |
        <a href="/text/index.html">Text</a> |
        <a href="/feed/index.html">Feed</a> |
        <a href="/contact/index.html">Contact</a> |
        <!--
        <a href="/about/index.html">About</a> |
        <a href="/audio/index.html">Audio</a> |
        <a href="/video/index.html">Video</a> |
        <a href="/donate/index.html">Donate</a> |
        -->
</nav>
</header>

